.seatWrapper{
    width: 80%;
    position: absolute;
    min-height: 500px;
    background: #6b4d4d;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition:all .3s;
}

.cancel{
    color: #000;
    position: absolute;
    right: 15px;
    top: 8px;
    padding: 5px;
    cursor: pointer;
}